html, body, #root, .App {
    margin: 0;
    height: 100%;
}
a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

body {
    color: #888;
    background: #deddd8;
    font-family: 'Lato', sans-serif;

}

.App {
    text-align: center;
}

.App-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 13vw;
}

.App-header {
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*padding: 20px;*/
}

.App-title {
    letter-spacing: 0.05em;
    font-weight: 200;
    /*color: #fff;*/
    color: #888;
    font-size: 60px;
}

.App-subtitle {
    /*line-height: 0px;*/
    font-size: small;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul li {
    list-style-type: none;
}

.container {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}

.reversed-arrow {
    margin-top: 10px;
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-style: solid;
    border-color: white;
    border-width: 1px 0px 0px 1px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.reversed-arrow:hover {
    border-top-width: 4px;
    border-left-width: 4px;
}

#full, #pricing {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
}

.info-box {
    /*overflow: hidden;*/
    padding: 3vw;
    text-align: left;
    background: #282624;
    width: 30vw;
    min-width: 300px;
    margin-bottom: 4vw;
}

.info-box p, .speech-bubble p {
    color: #deddd8;
}

.info-box--title {
    color: #fff;
    font-weight: 200;
    font-size: 40px;
}

.speech-bubble {
    padding: 3vw;
    text-align: left;
    width: 30vw;
    min-width: 300px;
    margin-bottom: 4vw;
    margin-top: 20px;
    position: relative;
    background: #383865;
    /*border-radius: .4em;*/
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 0;
    height: 0;
    border: 26px solid transparent;
    border-bottom-color: #383865;
    border-top: 0;
    border-left: 0;
    margin-left: -0px;
    margin-top: -26px;
}

.about .info-box {
    /*width:60vw;*/
    /*min-width: 300px;*/
    background: #29560c;
    /*background: #1c6b02;*/
}

.about .info-box p {
    background: transparent;
    /*background: #1c6b02;*/
}

.about .info-box .info-box--title {
    background: transparent;
    /*background: #1c6b02;*/
}

.img-about {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    max-width: 100%;
    max-height: 100%;
}